@page "/places/edit/{Id:guid}"
@page "/places/create"
@namespace Tournament.Web.Pages
@using Tournament.Web.Resources.Texts
@using Microsoft.Extensions.Localization
@inherits PageBase
@inject IStringLocalizer<PlaceEditPageResources> PlaceEditPageLocalizer


<div class="container mt-4 pb-2">
    <div class="row justify-content-center">
        <div class="col col-12 col-lg-8">
            <h1 class="mb-4">@(Id == Guid.Empty ? PlaceEditPageLocalizer["CreatePage_Title"] : PlaceEditPageLocalizer["EditPage_Title"])</h1>
            <PlaceEditForm id="@Id" OnModification="NavigateBack"/>
        </div>
    </div>
</div>

