@page "/"
<div class="container">
    <div class="col col-12 col-lg-6" style="padding-top: 5em">
        <h1 class="display-1">Welcome!</h1>
        <p class="lead">
            This is our Tournament Manager
        </p>
    </div>
</div>